/* normalize css starts here */

:root {
    --black: #040F0F;
    --green-primary: #248232;
    --green-secondary: #2BA84A;
    --grey: #2D3A3A;
    --tool-grey: #222222;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--grey);
    width: 600px;
    height: 400px;
}

.canvas-options {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: var(--black);
    margin-left: auto;
    margin-right: auto;
    padding: 1.1em;
    justify-content: space-evenly;
}

.canvas-modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5em
}

.canvas-values {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
}

#canvas-save {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#canvas-tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5em;
}

#canvas,
#emoji-field {
    background-color: white;
    border: 1px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 6px 8px -3px black;
}

.option-btn {
    background: none;
    border: none;
    color: white;
    aspect-ratio: 1/1;
    transition: all 0.2s cubic-bezier(0.34, 0.48, 0.92, 1)
}

.option-btn:hover {
    background-color: var(--green-primary);
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.34, 0.48, 0.92, 1)
}

#save:hover {
    background-color: #715DF0;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.34, 0.48, 0.92, 1)
}

#clear:hover {
    background-color: #d6603c;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.34, 0.48, 0.92, 1)
}

.color-btn {
    background: none;
    border: none;
    color: white;
}

.active-btn {
    background-color: var(--green-secondary);
    border-radius: 10px;
    border: 1px solid;
}

button,
input {
    cursor: pointer;
}

#emoji-palette {
    display: flex;
    justify-content: space-around;
}